#titulo{
    background-color: #bb3d00;
    color: white;
}

#a{
    padding-left: 70px;
}

#text{
    font-size: 30px;
}

#ccc{
    width: 40%;
}

#espacio{
    margin-left: 30%;
}

#comprar{
    margin-left: 55%;
}

#t{
    background-color: #969696;
    border-radius: 20px 20px 0px 0px;
}

#t-1{
    padding: 10px 10px 10px 15px;
    color: white;
}