#titulo{
    background-color: #bb3d00;
    color: white;
}

#a{
    padding-left: 70px;
}

#text{
    font-size: 30px;
}

#ccc{
    width: 40%;
}

#espacio{
    margin-left: 10%;
}

#comprar{
    margin-left: 55%;
}