.grid{
    margin: 0px auto;
    display: grid;
    grid-template-areas: "header header header" "nav section aside" "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px 300px 80px;
}

header{
    grid-area: header;
    background-color:white;

}

.titulo1,.titulo2{
    margin: 0px;

}

.titulo1{
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    color: #808080
}

.titulo2{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: red
}

.Encabezado_Derecha{
    width: 50%;
    float: right;
    
}

.Encabezado_Izquierda{
    width: 50%;
    float: left;
}

nav{
    grid-area: nav;
    background-color: #808080;
    color:#c5c5c5
}

.p{

    float:left;
    margin-right: 5px;
    margin-top: 10px;
    
}

.a{
    list-style: none;
    margin: 10px;
}

.z{
    background-color: white;
    
}

section{
    grid-area: section;
    background-color:#400040;
    padding: 10px;
}

aside{
    grid-area: aside;
    background-color:#9f0479;
    color:white
}

footer{
    grid-area: footer;
    background-color:#ff3eff;
    text-align: center;
    color:white;
    padding: 20px
    
}

.pie {
    margin: 0px
}