#Titulo{
    padding: 3% 3% 3% 3%;
    display: flex;        
    justify-content: center;
    border-bottom: 1px solid black;
}

#izq-m{
    padding: 2%;
    border: 1px solid black;
    text-align: justify;
}

#der-m{
    display: flex;        
    justify-content: center;
    border: 1px solid black;
}

#izq-p{
    display: flex;        
    justify-content: center;
    border: 1px solid black;
    padding-bottom: 11.5%;
}

#cen-p{
    display: flex;        
    justify-content: center;
    border: 1px solid black;
}

#der-p{
    display: flex;        
    justify-content: center;
    border: 1px solid black;
}